a:link {
	color: #CCA300;
	text-decoration: none;
}

a:visited {
	color: #CCA300;
	text-decoration: none;
}

a:hover {
	color: #CCA300;
	text-decoration: none;
}

a:active {
	color: #CCA300;
	text-decoration: none;
}

body {
  background-color: #3366FF;
}

h1 {
	text-align: center;
	color: #CCA300;
}


header {
	margin-left: auto;
	margin-right: auto;
}

img {
  width:400px;
	height:400px;
	padding:10px;
	border-radius:50px;
	border: 5px solid #CCA300;
	margin-left: auto;
	margin-right: auto;
}

 nav {
	margin-left: auto;
	margin-right: auto;
}


section {
	margin-left: auto;
	margin-right: auto;
	
}


