h1 {
  color: blue;
}

body {
  background-color: green;
}


img {
  width:400px;
	height:400px;
	padding:10px;
	border-radius:50px;
	border: 5px solid #007A7A;
	background-color: #FFCC00;
	margin-left: auto;
	margin-right: auto;
}


body {
	margin-left: auto;
	margin-right: auto;
}
  
  
h1 {
	text-align: center;
}
