a:link {
	color: #CCA300;
	text-decoration: none;
}

a:visited {
	color: #CCA300;
	text-decoration: none;
}

a:hover {
	color: #CCA300;
	text-decoration: none;
}

a:active {
	color: #CCA300;
	text-decoration: none;
}


a.nav:link {
	color: #3366FF;
	text-decoration: none;
}

a.nav:visited {
	color: #3366FF;
	text-decoration: none;
}

a.nav:hover {
	color: #3366FF;
	text-decoration: none;
}

a.nav:active {
	color: #3366FF;
	text-decoration: none;
}

body {
  background-color: #3366FF;
}

h1 {
	text-align: center;
	color: #CCA300;
}


h5 {
	text-align: center;
}


header {
	margin-left: auto;
	margin-right: auto;
}

img.main {
	position: relative;
  	width:400px;
	height:400px;
	border-radius:10px;
	border: 5px solid #CCA300;
	margin-left: auto;
	margin-right: auto;
	
}

 nav {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-color: #CCA300 ;
	
}


section {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	
}

table {
	margin-left: auto;
	margin-right: auto;
}


