input, button, select, p {
	margin: .5%;
	padding: 0%;
}

p {
	color: white;
}

h1 {
	text-align: center;
}
body {
	background-color: #CCD6E0;
}

section#tasks {
	background-color: #336699;
	padding: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 80%;
	height: 25%;
	overflow: scroll;
}

section#entry {
	background-color: #336699;
	padding: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 80%;
}

ol {
	list-style-type: none;
}

ol.highp {
	color: red;
}

ol.mediump {
	color: yellow;
}
	
ol.lowp {
	color: white;
}


ol.done {
	text-decoration: line-through;
	color: grey;
}
