
.high {
  color: white;
  background-color: red;
}

.med {
  color: white;
  background-color: orange;
}

.low {
  color: black;
  background-color: grey;
}

.done {
  color: cyan;
  background-color: black;
  text-decoration: line-through;
}


