
input, button, select, p {
	margin: .5%%;
	padding: 0%;
}

p {
	color: white;
}



h1 {
	text-align: center;
}

body {
	background-color: orange;
}



section#tasks {
	background-color: blue;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 80%;
	height: 25%;
}

section#entry {
	background-color: blue;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 80%;
	
}

.floater {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
	

